* {
    background: black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2 {
    margin-top: 126px;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    width: 299px;
    height: 20px;
    margin: auto;
    padding: auto;
    display: block;
    margin-bottom: 29px;

}
input {
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    display: flex;
    width: 234px;
    padding: 13px 233px 30px 16px;
    align-items: center;
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
}

button {
    display: flex;
    width: 342px;
    height: 72px;
    padding: 0px 76px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5px; 
    margin: auto;
    padding: auto;
    margin-top: 79px;
}
div{
    display: flex;
    margin-left: 640px
}

.second-number {
    margin-left: 62px;
}

